@charset "UTF-8";
/* CSS Document */
/* visual */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.container h1 {
  font-family: 'Permanent Marker', cursive;
  background: -webkit-linear-gradient(45deg, #FFF, #282fc7, #FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 12vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 81;
  font-size: 6vw;
}
.visual {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  z-index: 80;
  transition: .5s ease;
}
.inner-visual {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(40, 40, 140, 0.3), rgba(0, 0, 0, 0));
  background-size: 600% 600%;
  -webkit-animation: GradationAnime 5s ease infinite;
  animation: GradationAnime 5s ease infinite;
}
#visual-1 {
  background-image: url("https://www.druva.com/assets/blog-kubernetes-og.jpg");
  background-position: center;
  background-size: cover;
}
#visual-2 {
  background: black;
  background-image: url("https://42tokyo.jp/static/images/logo/42tokyo.png");
  background-position: center;
  background-size: 78%;
  background-repeat: no-repeat;
}
.left-bg {
  left: 0;
}
.right-bg {
  right: 0;
}
.left-bg:hover {
  width: 100%;
}
.left-bg:hover + .right-bg {
  width: 0;
}
.right-bg:hover {
  width: 100%;
}
.right-bg:hover + .left-bg {
  width: 0;
}
/* main */
main h2 {
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  margin-top: 80px;
  margin-bottom: 20px;
}
main p, main ul {
  padding-top: 10px;
  font-size: 24px;
  font-family: 'Josefin Sans', serif;
  line-height: 30px;
}
.link {
  color: #ACB6E5;
  background: -webkit-linear-gradient(90deg, #ACB6E5, #3060E8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  text-decoration-color: #ACB6E5; 
}
.code-chunk {
  padding: 10px;
  margin-bottom: 10px;
}
code {
  display: block;
  font-size: 19px;
  font-family: 'Inconsolata', monospace;
  padding: 2.5px 0;
}
.wp-user-list {
  width: 500px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.wp-user-item {
  display: flex;
  justify-content: space-between;
}
.wp-user-item.head {
  border: solid 1px white;
}
.wp-user-item.content {
  border-left: solid 1px white;
  border-bottom: solid 1px white;
  border-right: solid 1px white;
}
.username, .password {
  width: 250px;
  text-align: center;
}
.username {
  border-right: dotted 2px white;
}
/* Responsive */
@media screen and (max-width: 1200px) {
  .visual {
    width: 100vw;
  }
  #visual-2 {
    animation: changeOpacity 20s ease infinite;
  }
  .container h1 {
    font-size: 12vw;
  }
}
@media screen and (max-width: 760px) {
  .container h1 {
    font-size: 10vh;
  }
  main h2 {
    font-size: 8vw;
  }
  main p {
    font-size: 2.5vw;
    line-height: 4vw;
  }
}
@media screen and (max-width: 560px) {
  .container {
    height: 50vh;
  }
  .container h1 {
    font-size: 7vh;
  }
  .visual {
    height: 50vh;
  }
}
/* Change opacity animation */
@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
